body{
margin:0;
font-family:Arial, sans-serif;
background:#d6e1ea;
text-align:center;
}

.container{
padding-top:80px;
}

.logo{
width:70px;
}

h1{
color:#2c7be5;
margin:10px 0;
}

.tagline{
color:#444;
margin-bottom:40px;
}

.features{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.box{
background:white;
padding:20px;
width:220px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.icon{
width:50px;
margin-bottom:10px;
}

footer{
background:#2c7be5;
color:white;
padding:15px;
margin-top:120px;
}